# Prerequisites
*.d
_*

*/OBJS.arc.Z
*/*/OBJS.arc.Z
local/.ssh
local/.history
local/.lesshist
local/.login
local/.cshrc
local/.iraf
*.orig
*.bak
*.OLD
*.xxx
uparm
spool
spool.*
_spool.*
zztest.x
extern.def
Notes.NR
fpack
funpack

# Login/history files
.*history
.lesshst
.viminfo
.*.swp
.*.swo
.*.swn

# External packages
extern/.pkgs
extern/adccdrom/
extern/cfh12k/
extern/ctio/
extern/deitab/
extern/esowfi/
extern/finder/
extern/fitsutil/
extern/gemini/
extern/gmisc/
extern/guiapps/
extern/iue/
extern/mem0/
extern/mkupdate
extern/mscdb/
extern/mscred/
extern/mtools/
extern/nfextern/
extern/optic/
extern/rvsao/
extern/song/
extern/sptable/
extern/sqiid/
extern/st4gem/
extern/steward/
extern/ucsclris/
extern/upsqiid/
extern/xdimsum/
x11iraf/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.e
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
