matrix:
  include:
    - os: linux
      dist: trusty
      env: IRAFARCH=linux64 OS_VERS=trusty
    - os: linux
      dist: precise
      env: IRAFARCH=linux64 OS_VERS=precise
    - os: linux
      dist: trusty
      env: IRAFARCH=linux OS_VERS=trusty
      addons:
        apt:
          packages:
            - gcc-multilib
            - libcurl4-openssl-dev:i386
            - libncurses5-dev:i386
            - libexpat1-dev:i386
    - os: linux
      dist: precise
      env: IRAFARCH=linux OS_VERS=precise
      addons:
        apt:
          packages:
            - gcc-multilib
            - libcurl4-openssl-dev:i386
            - libncurses5-dev:i386
            - libexpat1-dev:i386
    - os: osx
      osx_image: xcode9.1
      env: IRAFARCH=macintel OS_VERS=sierra
    - os: osx
      osx_image: xcode6.4
      env: IRAFARCH=macintel OS_VERS=yosemite
    - os: osx
      osx_image: xcode9.1
      env: IRAFARCH=macosx OS_VERS=sierra
    - os: osx
      osx_image: xcode7.3
      env: IRAFARCH=macosx OS_VERS=elcapitan

install:
  - if [ $TRAVIS_OS_NAME = osx ]; then brew install ccache; PATH=/usr/local/opt/ccache/libexec:$PATH ; fi

language: c

cache:
  ccache: true
  directories:
    - $HOME/.ccache

git:
  depth: 3

before_script:
  - build_tmp=`mktemp -d -t irafbuild.XXXXXXXXX`
  - ./install -v --term xterm --bindir $build_tmp/bin --cache $build_tmp/cache --imdir $build_tmp/imdir --root `pwd` < /dev/null || true
  - make ${IRAFARCH}
  - make sysgen

script:
  - ls $(for e in cl ecl irafks vocl ; do  echo bin.${IRAFARCH}/${e}.e  ; done) > /dev/null
  - ls $(for e in color dataio images imdkern lists mkttydata ncar nttools obsolete plot proto sgikern softools stdgraph system tv utilities vol ; do echo bin.${IRAFARCH}/x_${e}.e ; done) > /dev/null
  - ls $(for e in alloc f2c generic mkpkg rmbin rmfiles rpp rtar sgi2gif sgi2svg sgi2uapl sgi2ueps sgi2uhpgl sgi2uhplj sgi2uimp sgi2uptx sgi2uqms sgi2xbm sgidispatch wtar xc xpp xyacc ; do echo unix/bin.${IRAFARCH}/${e}.e ; done) > /dev/null
  - ls $(for a in bev c cfitsio cur curfit deboor ds ex gks gsurfit imc imd imfort iminterp interp llsq memdbg ncar nlfit readline sgi slalib stg surfit sys tbtables VO vops xtools ; do echo bin.${IRAFARCH}/lib${a}.a; done) > /dev/null
  - ls $(for a in boot f2c os ; do echo unix/bin.${IRAFARCH}/lib${a}.a ; done) > /dev/null
  - ./test/run_tests
